extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Andrea Vannetti
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | I’m an aspiring web designer who loves everything about the web. Since I was little I have always loved computers and everything that concerns them. 
            | I'm a sociable and calm guy, and in my spare time I like going out with friends, going dancing and drinking. I live in a small and peaceful village near Siena, in Tuscany, Italy. 
            | I want to master the process of building web sites and increase my knowledge, skills and abilities.
            | I’d like to work for a web design firm helping clients create an impressive online presence.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li JavaScript
          li Node.js
          li HTML
          li CSS 
          li jQuery
          li APIs
          li JSON
          li Bootstrap
        h6 Contact Info
        ul
          li 555-555-1234
          li a.vannetti08@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/andrea-vannetti-215105153/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/AndreaV89', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/AVannetti89', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  